env {
    PATH = "/usr/local/genome/bcftools-1.8/bin:" +
           "/usr/local/genome/samtools-1.15.1/bin:" +
           "/betelgeuse07/analysis/utsu/bin:" +
           "$PATH"
}

params {
    // General settings
    ASSEMBLY = "GRCh38"
    MAFCUTOFF = 0.01
    threads = 4

    // =======  Program configurations  =======//
    /*   You can change the following values according to your environment.
        
    samtools_threads            : Number of threads for samtools
    strobealign_threads         : Number of threads for Strobealign
    eh_mode                     : ExpansionHunter analysis mode (seeking or streaming)
    eh_region_extension_length  : Region extension length for ExpansionHunter
    eh_threads                  : Number of threads for ExpansionHunter

    */

    // Bcftools
    bcftools_threads = 4
    
    // Samtools
    samtools_threads = 4

    // Strobealign
    strobealign_threads = 12
    
    // Picard AddOrReplaceReadGroups
    rg_library = "mylibrary"
    rg_platform = "Illumina"

    // DeepVariant and DeepTrio
    deepvariant_model = "WES"
    deepvariant_shards = 36
    deepvariant_par = "/betelgeuse10/analysis/utsu/resources/deepvariant/GRCh38_PAR.bed.gz"
    deepvariant_par_index = "/betelgeuse10/analysis/utsu/resources/deepvariant/GRCh38_PAR.bed.gz.tbi"
    autosome_and_par = "\"chr1 chr2 chr3 chr4 chr5 chr6 chr7 chr8 chr9 chr10 " + 
                       "chr11 chr12 chr13 chr14 chr15 chr16 chr17 chr18 " +
                       "chr19 chr20 chr21 chr22 chrX:10000-44821 " +
                       "chrX:94821-133871 chrX:222346-226276 " + 
                       "chrX:226351-1949345 chrX:2132994-2137388 " +
                       "chrX:2137488-2781479 chrX:155701383-156030895 " +
                       "chrY:10000-44821 chrY:94821-133871 " +
                       "chrY:222346-226276 chrY:226351-1949345 " +
                       "chrY:2132994-2137388 chrY:2137488-2781479 " +
                       "chrY:56887902-57217415\""

    // autosome_and_par = "\"chr22 chrX:10000-44821 " +
    //                    "chrX:94821-133871 chrX:222346-226276 " + 
    //                    "chrX:226351-1949345 chrX:2132994-2137388 " +
    //                    "chrX:2137488-2781479 chrX:155701383-156030895 " +
    //                    "chrY:10000-44821 chrY:94821-133871 " +
    //                    "chrY:222346-226276 chrY:226351-1949345 " +
    //                    "chrY:2132994-2137388 chrY:2137488-2781479 " +
    //                    "chrY:56887902-57217415\""

    // GLnexus
    glnexus_threads = 28 // Up to 32 threads

    // ExpansionHunter
    eh_mode = "seeking"
    eh_region_extension_length = 1000
    eh_threads = 24
    
    // vcfanno
    vcfanno_resources = "/betelgeuse07/analysis/utsu/resources/vcfanno"
    vcfanno_threads = 12

    // echtvar
    echtvar_resources = "/betelgeuse04/analysis/utsu/resources/echtvar/echtvar_zip"

    // VEP
    vep_data = "/betelgeuse04/analysis/utsu/resources/vep/vep_data"
    vep_plugin_resources = "/betelgeuse04/analysis/utsu/resources/vep/plugin_resources"
    vep_buffer = 10000
    
    // SpliceAI
    spliceai_mask = 0
    spliceai_distance = 25
    spliceai_annotation = "/betelgeuse07/analysis/utsu/resouces/SAI10kcalc/SAI10kcalc_spliceai_tx.hg19.tsv"
    
    // fasta = "/betelgeuse07/analysis/utsu/WES/185/Project_33665/annovar/human_g1k_v37_fix.fasta.gz"
    fasta = "/betelgeuse10/analysis/utsu/resources/reference_fasta/GRCh38_full_analysis_set_plus_decoy_hla.fa"
    fasta_index = "/betelgeuse10/analysis/utsu/resources/reference_fasta/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
}

executor {
    name = 'sge'
    // name = 'local'
    // queueSize = 12
    // pollInterval = '10 sec'
}

process {
    withName: 'STROBEALIGN' {
        container = "betelgeuse:5000/library/utsu/strobealign:0.14.0"
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    withName: 'MERGE_MULTIPLE_LANE_XAMS' {
        queue = 'centauri.q,deepspace.q'
    }
    withName: 'MARKDUP' {
        container = 'betelgeuse:5000/library/utsu/picard:3.3.0'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'centauri.q,deepspace.q'
    }
    withName: 'RENAME_XAM' {
        queue = 'centauri.q,deepspace.q'
    }
    withName: 'EDIT_RG' {
        container = 'betelgeuse:5000/library/utsu/picard:3.3.0'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'centauri.q,deepspace.q'
    }
    withName: 'INDEX_XAM' {
        queue = 'centauri.q,deepspace.q'
    }
    withName: 'DEEPVARIANT' {
        container = 'betelgeuse:5000/library/utsu/deepvariant:1.8.0'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    withName: 'DEEPTRIO_MALE_CHILD' {
        container = 'betelgeuse:5000/library/utsu/deeptrio:1.8.0'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
        // container = 'utsu/deeptrio:1.8.0-gpu'
        // containerOptions = '--gpus 1--security-opt seccomp=unconfined'
        // queue = 'rtx.q'
    }
    withName: 'GLNEXUS_FOR_MALE_TRIO' {
        container = 'betelgeuse:5000/library/utsu/glnexus:1.4.3'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    withName: 'DEEPTRIO_FEMALE_CHILD' {
        container = 'betelgeuse:5000/library/utsu/deeptrio:1.8.0'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    withName: 'GLNEXUS_FOR_FEMALE_TRIO' {
        container = 'betelgeuse:5000/library/utsu/glnexus:1.4.3'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    withName: 'DEEPTRIO_FOR_DUO' {
        container = 'betelgeuse:5000/library/utsu/deeptrio:1.8.0'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    withName: 'GLNEXUS_FOR_DUO' {
        container = 'betelgeuse:5000/library/utsu/glnexus:1.4.3'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    withName: 'DEEPTRIO_FOR_QUAD' {
        container = 'betelgeuse:5000/library/utsu/deeptrio:1.8.0'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    withName: 'DEEPVARIANT_FOR_SIBLING' {
        container = 'betelgeuse:5000/library/utsu/deepvariant:1.8.0'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    withName: 'GLNEXUS_FOR_QUAD' {
        container = 'betelgeuse:5000/library/utsu/glnexus:1.4.3'
        containerOptions = '--security-opt seccomp=unconfined'
        queue = 'deepspace.q'
    }
    // withName: 'DEEPVARIANT_FOR_OTHER' {
    //     queue = 'deepspace.q'
    // }
    // withName: 'GLNEXUS_FOR_OTHER' {
    //     queue = 'deepspace.q'
    //     container = 'betelgeuse:5000/library/utsu/glnexus:1.4.3'
    // }
    withName: 'EXPANSIONHUNTER' {
        queue = 'deepspace.q'
    }
    withName: 'INDEX_EH_BAM' {
        queue = 'centauri.q,deepspace.q'
    }
}

docker {
    enabled = true
}