env {
    PATH = "/usr/local/genome/bcftools-1.8/bin:" +
           "/usr/local/genome/samtools-1.15.1/bin:" +
           "/betelgeuse07/analysis/utsu/bin:" +
           "$PATH"
}

params {
    // General settings
    ASSEMBLY = "GRCh37"
    MAFCUTOFF = 0.01

    spliceai_mask = "0"
    spliceai_distance = "500"

    // Details settings
    threads = 4
    vcfanno_threads = 12
    vep_buffer = 10000
    // fasta = "/betelgeuse07/analysis/utsu/WES/185/Project_33665/annovar/human_g1k_v37_fix.fasta.gz"
    fasta = "/betelgeuse10/analysis/utsu/resources/reference_fasta/GRCh38_full_analysis_set_plus_decoy_hla.fa"
    fasta_index = "/betelgeuse10/analysis/utsu/resources/reference_fasta/GRCh38_full_analysis_set_plus_decoy_hla.fa.fai"
    vcfanno_resources = "/betelgeuse07/analysis/utsu/resources/vcfanno"
    echtvar_resources = "/betelgeuse04/analysis/utsu/resources/echtvar/echtvar_zip"
    vep_data = "/betelgeuse04/analysis/utsu/resources/vep/vep_data"
    vep_plugin_resources = "/betelgeuse04/analysis/utsu/resources/vep/plugin_resources"
    spliceai_annotation = "/betelgeuse07/analysis/utsu/resources/SAI10kcalc/SAI10kcalc_spliceai_tx.hg19.tsv"
}

// executor {
//     name = 'sge'
//     name = 'local'
//     queueSize = 12
//     pollInterval = '10 sec'
// }

process {
    executor = 'local'
    // withName: 'PARSE_PED_FILE' {
    //     queue = 'centauri.q,deepspace.q'
    // }
    withName: 'MAKE_FAMILY_SAMPLE_DIR' {
        queue = 'centauri.q,deepspace.q'
    }
    withName: 'STROBEALIGN' {
        queue = 'centauri.q'
        container = 'betelgeuse:5000/library/utsu/strobealign:0.14.0'
        containerOptions = '--security-opt seccomp=unconfined'
    }
    withName: 'MARKDUP' {
        queue = 'centauri.q'
        container = 'betelgeuse:5000/library/utsu/picard:3.3.0'
        containerOptions = '--security-opt seccomp=unconfined'
    }
    withName: 'MERGE_MULTIPLE_LANE_XAMS' {
        queue = 'centauri.q,deepspace.q'
    }
    withName: 'RENAME_XAM' {
        queue = 'centauri.q,deepspace.q'
    }
    withName: 'EDIT_RG' {
        queue = 'centauri.q'
        container = 'betelgeuse:5000/library/utsu/picard:3.3.0'
        containerOptions = '--security-opt seccomp=unconfined'
    }
    withName: 'DEEPVARIANT' {
        queue = 'rtx.q'
        container = 'utsu/deepvariant:1.6.1-gpu'
    }
    withName: 'DEEPTRIO' {
        queue = 'rtx.q'
        container = 'utsu/deepvariant:1.6.1-gpu'
    }
    withName: 'DEEPTRIO_FOR_QUAD' {
        queue = 'rtx.q'
        container = 'utsu/deepvariant:1.6.1-gpu'
    }
    withName: 'DEEPVARIANT_FOR_SIBLING' {
        queue = 'rtx.q'
        container = 'utsu/deepvariant:1.6.1-gpu'
    }
}

docker {
    enabled = true
}