env {
    ASSEMBLY = "hg19"
    WORKFLOW_WES = "/betelgeuse07/analysis/utsu/MyTools/workflow_WES"
    ANNOVAR_DB = "/betelgeuse04/analysis/utsu/resources/annovar/hg19"
    SPLICING_THRESHOLD = "30"

    PATH = "/usr/local/genome/samtools-1.5/bin/:" +
           "/usr/local/genome/bcftools-1.8/bin/:" + 
           "/usr/local/bio/src/annovar202203/:" +
           "/usr/local/bio/src/hgmd_annotator/:" +
           "/betelgeuse07/analysis/utsu/bin/:" +
           "$PATH"
}

process {
    executor = 'sge'
    withName: VCFANNO {
        queue = 'centauri.q'
    }
    withName: SPLIT {
        queue = 'centauri.q,deepspace.q'
    }
    withName: SPLICEAI {
        container = 'betelgeuse:5000/library/utsu:spliceai'
        containerOptions = '-v /betelgeuse07/analysis/utsu/resources:/resources'
        queue = 'deepspace.q'
        memory = '48 GB'
    }
    withName: CONCATENATESORT {
        queue = 'centauri.q,deepspace.q'
    }
    withName: MAVERICK {
        container = 'betelgeuse:5000/library/utsu:maverick'
        containerOptions = """
            -v /betelgeuse04/analysis/utsu/resources/Maverick:/Maverick_root
        """
        queue = 'centauri.q'
    }
    withName: ANNOVAR {
        queue = 'centauri.q'
    }
    withName: FORMATANNOVAR {
        queue = 'centauri.q,deepspace.q'
    }
    withName: HGMDANNOTATOR {
        queue = 'centauri.q,deepspace.q'
    }
    withName: GADO{
        queue = 'centauri.q,deepspace.q'
    }
}

docker {
    enabled = true
    // runOptions = '-v /betelgeuse07/analysis/utsu/resources:/resources'
}
