env {
    PATH = "/usr/local/genome/samtools-1.5/bin/:" +
           "/usr/local/genome/bcftools-1.8/bin/:" + 
           "/usr/local/bio/src/annovar202203/:" +
           "/usr/local/bio/src/hgmd_annotator/:" +
           "\$PATH"
    WORKFLOW_WES = "/betelgeuse07/analysis/utsu/MyTools/workflow_WES"
    ANNOVAR_DB = "/betelgeuse04/analysis/utsu/resources/annovar/hg19"
    SPLICING_THRESHOLD = "30"
}

process {
    executor = 'sge'
    withName: SPLIT {
        queue = 'all.q'
    }
    withName: SPLICEAI {
        container = 'betelgeuse:5000/library/utsu:spliceai'
        queue = 'deepspace.q'
    }
    withName: CONCATENATESORT {
        queue = 'deepspace.q'
    }
    withName: ANNOVAR {
        queue = 'centauri.q'
    }
    withName: FORMATANNOVAR {
        queue = 'deepspace.q'
    }
}

docker {
    enabled = true
    runOptions = '-v /betelgeuse07/analysis/utsu/resources:/resources'
}
